apiVersion: v1
kind: Pod
metadata:
  name: pod-volume-configmap
spec:
  containers:
    - name: volume-container
      image: chentex/random-logger
      volumeMounts: # 1
      - name: config-volume # 2
        mountPath: /etc/config # 3
  volumes: # 4
    - name: config-volume # 5
      configMap: # 6
        name: my-config # 7
        items: # 8
        - key: app.properties # 9
          path: container.properties # 10
  restartPolicy: Never
  